@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


/* Titles */
h1, h2, h3 {
  font-family: 'Rubik', sans-serif;
}

/* Body text / paragraphs */
p, li, span {
  font-family: "Liter", sans-serif
}
